# Neccessary Import Statements

In [ ]:
# Allows for changes made to scripts in src to be included in the work
# done in this notebook.
%load_ext autoreload
%autoreload 2

In [ ]:
# file access
import os
notebook_dir = os.getcwd()

In [9]:
# data manipulation
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# data visualization
import matplotlib.pyplot as plt

# custom modules 
from src.data import common_tasks as ct
from src.data import feature_engineering as fe
# from src.models import clustering as clus

# Add a Score Column to the Raw Tracking Data

In [3]:
full_df = ct.EVENTS_DF

In [4]:
scores_full_series = ct.score_compiler(events_data=full_df)
full_df["score"] = scores_full_series

In [6]:
full_df.tail()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,score
3251289,5,Ball out of the field,[],0,"[{'y': 32, 'x': 0}, {'y': 100, 'x': 100}]",2500098,Interruption,1623,2H,2796.732525,50,251596409,1-1
3251290,3,Corner,"[{'id': 302}, {'id': 801}, {'id': 1801}]",70965,"[{'y': 100, 'x': 100}, {'y': 47, 'x': 88}]",2500098,Free Kick,1633,2H,2829.821084,30,251596232,1-1
3251291,1,Air duel,"[{'id': 701}, {'id': 1802}]",7919,"[{'y': 53, 'x': 12}, {'y': 50, 'x': 14}]",2500098,Duel,1623,2H,2831.211419,10,251596410,1-1
3251292,1,Air duel,"[{'id': 703}, {'id': 1801}]",8005,"[{'y': 47, 'x': 88}, {'y': 50, 'x': 86}]",2500098,Duel,1633,2H,2832.434399,10,251596234,1-1
3251293,10,Shot,"[{'id': 403}, {'id': 201}, {'id': 1216}, {'id'...",8005,"[{'y': 50, 'x': 86}, {'y': 0, 'x': 0}]",2500098,Shot,1633,2H,2834.127168,100,251596236,1-1

In [ ]:
### ONLY RUN CELL IF YOU WOULD LIKE TO SAVE THIS DATAFRAME ### 
score_rel_dir = "/Users/sebgo/Documents/Professional_Development/Sharpest_Minds/Set_Piece_Strategy_Identifier/data/interim"
full_df.to_csv("{}/events_with_scores.csv".format(score_rel_dir))

# Compile Engineered Features

In [ ]:
features_df = fe.basic_instance_features(full_df)

In [ ]:
features_df.head()

# Join with Sequence Data That Has Already Been Put Together

In [ ]:
sequences_df = pd.concat()

# Scale Engineered Features

# Fit Model

# Evaluate and Visualize Model Results